@font-face {
   font-family: 'Gora';
   src: url('../fonts/Gora.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'Hagin Caps Medium';
   src: url('../fonts/Hagin-Caps-Medium.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'Montserrat Black';
   src: url('../fonts/Montserrat-Black.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'Montserrat Semibold';
   src: url('../fonts/Montserrat-SemiBold.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}