html, body
   height: 100%

body
   position: relative
   min-width: 320px
   font-family: 'Montserrat Semibold', serif
   font-size: 16px
   color: white

img
   max-width: 100%

a
   text-decoration: none

.wrapper
   max-width: 1800px
   width: calc(100% - 50px)
   height: 100%
   margin: auto

.section
   padding-top: 32px
   &-title
      margin-bottom: 32px
      text-align: center
      font-family: "Gora", sans-serif
      font-size: 24px
      line-height: 32px
      color: #000

.button
   padding: 10px 15px
   border: 1px solid #000
   font-size: 11px
   color: #000
   text-transform: uppercase
   letter-spacing: 1.8px
   border-radius: 20px
   cursor: pointer
   outline: none
   transition: 0.3s

.slick-slide
   outline: none

=pseudo
   position: absolute
   content: ''
   display: block

/*======================== MEDIA QUERIES ===============================*/


@media (min-width: 680px)
   .wrapper
      width: calc(100% - 100px)